@import './library/colors.scss';
@import './library/variables.scss';

.smart.form-layout{
    z-index: 99;

    height: 565px;
    max-height: 630px;
    max-width: $max-width;
    background-color: $ema-white-0;

    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 20%;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 20px;

    border-radius: 20px;
    box-shadow: 0.4px 2px 2px 1px #ddd;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
// TOP BAR
.form-top-bar {
    background-color: $ema-lilac-1;
    height: 140px;
    width: auto;
    color: $ema-white-0;

    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;

    .container-fluid{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 63px;
    }
    .icon{
        position: absolute;
        left: 2%;
    }
    .form-title{
        p{
            font-family: 'Poppins';
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: $ema-white-0;
            padding-top: 8px;
        }
    }
}
// BUTTONS
.large-btn{
    margin-bottom: 25px;
    button{
        background-color: $ema-lilac-2;
        width: 192px;
        height: 40px;
        color: $ema-white-0;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        
        border: 0px;
        outline: 0px;
        border-radius: 18px;

        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        &:hover, &:focus{
            cursor: pointer;
            background-color: $ema-lilac-1;
        }
    }
}
.form-button-pill{
    width: 80px;
    height: 28px;
    max-width: 130px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $ema-lilac-1;
    outline: 0px;
    border-radius: 1000px;

    background-color: $ema-white-0;
    font-family: 'Poppins';
    font-size: 11px;
    color: $ema-black-3;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 16px;
    box-shadow: 0px 8px 20px 0px rgba(104, 103, 103, 0.141);

    &:focus, &:focus-within{
        background-color: $ema-lilac-2;
        color: $ema-white-0;
        outline: none;
    }
}
.form-button-lg{
        width: auto;
        height: 28px;
        max-width: 200px;
        padding: 2px 10px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border: 1px solid $ema-lilac-1;
        outline: 0px;
        border-radius: 1000px;
    
        background-color: $ema-white-0;
        font-family: 'Poppins';
        font-size: 11px;
        color: $ema-black-3;
        font-weight: 500;
        line-height: 14px;
        margin-bottom: 16px;
        box-shadow: 0px 8px 20px 0px rgba(153, 151, 151, 0.141);
        &:focus, :focus-within {
            background-color: $ema-lilac-2;
            color: $ema-white-0;
            outline: none;
        }
}
.form-button-full{
        width: 98%;
        height: 30px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border: 1px solid $ema-lilac-1;
        outline: 0px;
        border-radius: 1000px;
    
        background-color: $ema-white-0;
        font-family: 'Poppins';
        font-size: 10px;
        color: $ema-black-3;
        font-weight: 500;
        line-height: 14px;
        margin-bottom: 16px;
        box-shadow: 0px 8px 20px 0px rgba(153, 151, 151, 0.141);
        &:focus, :focus-within {
            background-color: $ema-lilac-2;
            color: $ema-white-0;
            outline: none;
        }
}
.pop-button{
    width: 110px;
    height: 26px;
    max-width: 130px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $ema-lilac-1;
    outline: 0px;
    border-radius: 1000px;

    background-color: $ema-white-0;
    font-family: 'Poppins';
    font-size: 11px;
    color: $ema-black-3;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 16px;
    box-shadow: 0px 8px 20px 0px rgba(104, 103, 103, 0.141);

    .info-icon{
        margin-left:8px;
        background-color: $ema-white-0;
        border-radius: 50%;
    }
    &:focus, :focus-within {
        background-color: $ema-lilac-2;
        color: $ema-white-0;
        outline: none;
    }
    .popup-title{
        text-transform: capitalize;
    }
}
.finish-btn{
    position: absolute;
    bottom: 35px;
    right: 20px;
    margin: 0 auto;
    width: 90%;
    height: 38px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: $ema-white-0;
    background-color: $ema-lilac-2;
    border: 0px;
    outline: 0px;
    border-radius: 18px;

    font-family: 'Lato';
    font-size: 16px;
    font-weight: 800;
    line-height: 14px;
    opacity: 0.9;
    text-transform: capitalize;
    &:hover, &:focus{
        border: 0px;
        outline: 0px;
        opacity: 1;
    }
}

// START PAGE
.form.start-page {
    .image {
        padding-top: 38px;
    }
}

// QUESTIONS
.question-plain{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    color: $ema-black-2;
    fieldset {
        width: 300px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}
.popup-question{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    color: $ema-black-2;
    .pop-title{
        color: $ema-lilac-2;
        text-transform: capitalize;
    }   
    fieldset{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
}

// PAGINATION
.paginate{
    position: absolute;
    bottom: 25px;
    right: 0px;
    margin: 0 auto;
    font-family: 'Lato';
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #page{
        font-size: 16px;
        font-weight: 600;
        line-height: 14px;
        color: $ema-lilac-2;
    }
    #total{
        font-size: 16px;
        font-weight: 800;
        line-height: 14px;
        color: $ema-grey-3;
    }
    button{
        outline: 0px;
        border: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;

        font-weight: 600;
        font-size: 18px;
        color: $ema-white-0;
        background-color: $ema-lilac-2;

        width: 52px;
        height: 30px;
        border-radius: 8px;
    }
}

// SLIDER
.slider{
    color: '#E4E4E4';
    height: 8px;
    &.MuiSlider-track{
    border: none
    }
    &.MuiSlider-thumb{
        height: 20px;
        width: 20px;
        background-color: '#8C3E79';
        border: 4px solid #fff;
        &:focus, &:hover, &.Mui-active, &.Mui-focusVisible{
            box-shadow: inherit
        }
        &:before{
        display: none
        }
    }

}

// CHECKBOX

.checkbox-wrapper{
    padding: 2px;
}
.checkbox-wrapper input[type="checkbox"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    vertical-align: middle;
    position: relative;
    width: 1.3em;
    height: 1.3em;
    border-radius: 0.15em;
    margin-right: 0.5em;
    border: 0.1em solid rgb(232, 230, 232);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px rgb(197, 194, 194);
    padding: px;
  }
  input:checked {
    background-color: #8C3E79;
    position: relative;
  }
  input:checked::before{
    // content: "\2714";
    // font-size: 17px;
    // color: #fff;
    // position: absolute;
    // right: 2px;
    // bottom: 2px;
    content: "\2714";
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center;
  }
   .checkbox-wrapper span{
    font-weight: 500;
    font-size: 11px;
    padding-left: 10px;
   }
   .ItemContainer{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
   }
  

.eoa-container{
    .modal-wrapper{
        .modal{
            min-height: 500px;
            top:180px;
            .eoa-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top:50px;
                font-family: 'Poppins';
                .eoa-title{
                    font-weight: 700;
                    text-align: center;
                    color: $ema-green-0;
                    font-size: 36px;
                    line-height: 53px;
                    padding-top:50px;
                }
                .eoa-subtext{
                    text-align: center;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 18px;
                    color: $ema-black-0;
                }
                .finish-btn{
                    width:75%;
                    left: 25px
                }
            }
        }
    }
}

// RESILIENCE ACTIVITIES PILL
.resilience-a-pill{
    width: 96%;
    height: 40px;
    border-radius: 16px;
    padding: 8px 10px;
    box-shadow: 0px 2px 0.5px 1px rgb(240, 235, 235);
    margin-bottom: 13px;
    max-height: auto;
    border:0.4px solid #ddd;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .act-title{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14.5px;
        color: $ema-black-3;
        line-height: 18px;
    }

    .act-icon{
        position: relative;
        border-radius: 50%;
        height: auto;
        margin-right: 10px;
    }
}
.settingsPage{
    input{
        background: #fff;
        width: 280px;
        margin-left: 10px;
        height: 45px;
        border-color: bisque;
        border-radius: 4px;
        box-shadow: 0px 3px 9px 0px rgb(226, 180, 194);
        outline: none;
        padding:8px;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        background-color: #fff;
    }
    input[type="text"],input[type="email"],input[type="password"],  textarea{
        background-color: #fff;
    }
    label{
        font-size: 18px;
        margin-left:10px;
        padding:8px;
    }
    button{
        width: 300px;
        margin-top: 50px;
        margin-left: 8px;
        background-color: $ema-lilac-1;
        border: none;
        border-radius:50px;
        outline: none;
        height: 50px;
        text-transform: uppercase;
        font-size: 16px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-family: 'Poppins';
    }
    p{
        font-size: 12px;
        padding:20px;
        margin-left: 55px;
    }
    
}
