@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import "HomePage";

@import "Landing";

@import "Onboarding";

@import "Footer";

@import "Form.scss";

@import "Seizure.scss";

$maxWidth: 580px;

html{
    box-sizing: border-box;
}
body{
    display: grid;
    max-width: $maxWidth;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden !important;
}
a, a:hover{
    text-decoration: none;
    text-decoration-color: none;
    color: inherit;
}