@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import "HomePage";

@import "Landing";

@import "Onboarding";

@import "Footer";

@import "Form.scss";

@import "Seizure.scss";

@import "Auth.scss";

$maxWidth: 580px;

html{
    box-sizing: border-box;
}
body{
    display: grid;
    max-width: $maxWidth;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden !important;
}
a, a:hover{
    text-decoration: none;
    text-decoration-color: none;
    color: inherit;
}
.flex-row {
  display: flex;
  flex-flow: row wrap;

  &-center {
    align-items: center;
    justify-content: center;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;

  &-center {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.Profile-card{
  background-color:white ;
  box-shadow: 3px 3px rgb(231, 231, 231);
   width:300px; 
   height:60px; 
   margin-top:20px;
   border-radius:10px;
   border-style:  solid ;
   border-width:1px;
   border-color: rgb(213, 213, 213);
}
.big-container h5{
  margin-top:15px;
  padding-left:10px;
}
.Profile-card h6{
  margin-top:20px;
  padding-left: 10px;
}
.border{
  color:"gray" ;
   left:0 ;
   margin-left:'20px' ;
    font-size:'13px';
    position:'absolute';
    inset:'0px' ;
    top:'40px' ;
    border-bottom-width:'15px' ;
     border-color:'red' ;
    border-bottom-color:'red' ,
}
