@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import 'HomePage';

@import 'Landing';

@import 'Onboarding';

@import 'Footer';

@import 'Form.scss';

@import 'Seizure.scss';

@import 'Auth.scss';

@import 'UserSettings.scss';

@import 'Spinner.scss';

@import 'ResilienceActivities.scss';
@import 'Legal.scss';

$maxWidth: 580px;

html {
  box-sizing: border-box;
}
body {
  display: grid;
  max-width: $maxWidth;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden !important;
}
a,
a:hover {
  text-decoration: none;
  text-decoration-color: none;
  color: inherit;
}
.flex-row {
  display: flex;
  flex-flow: row wrap;

  &-center {
    align-items: center;
    justify-content: center;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;

  &-center {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
